@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
margin:0;
padding:0;
background:#050505;
color:#fff;
font-family:Arial,Helvetica,sans-serif;
overflow-x:hidden;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

::selection{
background:#D4AF37;
color:#000;
}

.container{
max-width:1400px;
margin:auto;
padding:0 40px;
}

.gold{
color:#D4AF37;
}

section{
padding:120px 0;
}

.btn{
padding:18px 40px;
border-radius:999px;
background:#D4AF37;
color:#000;
font-weight:700;
transition:.4s;
cursor:pointer;
text-decoration:none;
display:inline-flex;
align-items:center;
justify-content:center;
}

.btn:hover{
transform:translateY(-5px);
box-shadow:0 0 40px #D4AF37;
}

.title{
font-size:64px;
font-weight:900;
letter-spacing:2px;
}

.subtitle{
font-size:20px;
color:#bdbdbd;
line-height:1.8;
}

.glass{
background:rgba(255,255,255,.05);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.08);
}

img{
max-width:100%;
display:block;
}
